name: Release with Autotag

on:
  workflow_dispatch:
    inputs:
      count:
        description: "Count of branches to retain"
        type: number
        default: 10
  schedule:
    - cron: '*/5 * * * 2' # Runs every 5 minutes on Tuesday
  
jobs:
  need-approval:
    name: "Need approval to run autotag workflow"
    environment:
      name: "dummy-release"
    runs-on: ubuntu-latest
    steps:
      - name: Echo input
        run: echo "Release version ${{ inputs.release_version || 'This is from push or schedule' }}"
      - name: Awaiting approval
        run: echo "This is a dummy release workflow that needs approval to run the autotag workflow. Please approve to proceed."
      - name: Trigger error
        run: exit 1

  call-autotag:
    needs: need-approval
    if: ${{ always() && (needs.need-approval.result == 'success' || needs.need-approval.result == 'failure') }}
    uses: ./.github/workflows/autotag-release.yml
    permissions:
      contents: write
    with:
      retained_branch_count: ${{ inputs.count || 7 }}

  if-skipped:
    needs: need-approval
    if: ${{ always() && needs.need-approval.result == 'skipped' }}
    runs-on: ubuntu-latest
    steps:
      - name: Log skipped status
        run: echo "The autotag workflow was skipped because the approval step was not completed."
