name: "Simple Workflow"

on:
  workflow_call:
    inputs:
      text:
        description: "text"
        default: "nothing"
        type: string
  workflow_dispatch:
    inputs:
      text:
        description: "text"
        default: "nothing"
        type: string

jobs:
  simple-job:
    runs-on: ubuntu-latest
    steps:
      - name: Test echo
        run: |
          echo "text: ${{ inputs.text }}"
          echo "Job completed successfully!"
