name: "Simple Workflow"

on:
  workflow_call:
    inputs:
      branch:
        description: "Branch to deploy"
        default: "master"
        type: string
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        default: "master"
        type: string

jobs:
  simple-job:
    runs-on: ubuntu-latest
    steps:
      - name: Test echo
        run: |
          echo "testtt: ${{ inputs.branch }}"
          echo "Job completed successfully!"
