name: push to cd branch

on:
  push:
    branches:
    - test/gh-action-push

jobs:
  echo_test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Test
        run: echo "Running gh actionn push..."

  push_to_cd_branch:
    runs-on: ubuntu-latest
    needs: echo_test
    permissions:
      contents: write
    steps:
      - name: Get GH App
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: ${{ github.repository }}
          fetch-depth: 0
          ref: 'test-echo'
      - name: Create new branch
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          BRANCH_NAME="cd-test"
          COMMIT_SHA=$(gh api repos/${{ github.repository }}/git/ref/heads/test-echo --jq '.object.sha')
          
          echo "Creating branch '$BRANCH_NAME'"

          # Create the new branch using the GitHub API
          gh api repos/${{ github.repository }}/git/refs \
            -X POST \
            -F ref=refs/heads/${BRANCH_NAME} \
            -F sha=${COMMIT_SHA}

          echo "Branch ${BRANCH_NAME} created successfully"

  echo_finish:
    runs-on: ubuntu-latest
    needs: push_to_cd_branch
    steps:
      - name: Echo Finish
        run: echo "Finished."