name: push to cd branch

on:
  push:
    branches:
    - test/gh-action-push

jobs:
  echo_test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Test
        run: echo "Running gh actionn push..."

  push_to_cd_branch:
    runs-on: ubuntu-latest
    needs: echo_test
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: push to cd branch
        run: | 
          echo "Push to CD branch"
          git fetch origin test-echo
          git checkout test-echo
          git checkout -b cd-test
          git push origin cd-test

  echo_finish:
    runs-on: ubuntu-latest
    needs: push_to_cd_branch
    steps:
      - name: Echo Finish
        run: echo "Finished."